.top{
    justify-content: end;
    display: flex;

}

.item {
    justify-content: end;
    display: flex; 
    list-style-type: none;
    align-items: center;
    padding-top: 16px;
}

.bottom{
    justify-content: end;
    display: flex;
    padding-top: 16px;
}

.ulstyle{
    margin: 0px; 
    padding: 0px;
    overflow-y: auto;
    height: calc(100vh - 570px);
    width: 620px;
}