.center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 1300px;
}

.app {
  display: grid;
  /* grid-template-columns: 1fr 290px 1fr; */
  grid-template-columns: 1fr 1fr 1fr;
  width: 1280px;
  text-align: center;
  min-width: 1280px;
  align-self: flex-start;
  padding-top: 164px;
}


.ingredients {
  overflow-y : auto;
  height: calc(100vh - 240px);
  width: 920px;
  text-align: left;
}